.container{
    position: relative;

}

h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 90px;
    text-transform: uppercase;
    font-weight: bolder;
    position: relative;
}

h1::before{
    content: "";
    position: absolute;
    background-color: rgb(255, 255, 255);
    width: 0%;
    height: 100%;
    top: 0;
    right: 0;
    /* border-bottom: 12px solid black; */
animation: ani 3s linear infinite;
-webkit-animation: ani 3s linear infinite;

}

@keyframes ani {
    40% ,60%{
        width: 100%;
    }
    100%{
        width: 0%;
    }
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
}